@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');

body,
.britechart {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
}

#app h1,
#app h2,
#app h2 a {
    font-weight: 300;
}

/* Sidebar */
.rsg--sidebar-4 a {
    color: #D2D6DF !important;
}
.rsg--sidebar-4 a:hover,
.rsg--sidebar-4 a:active,
.rsg--sidebar-4 a:focus {
    color: #FFFFFF !important;
}

.stacked-area-container {
    display: flex;
}

/* Logo */
.rsg--sidebar-4 .rsg--logo-5 {
    padding: 24px;
    border-bottom: none;
}

.rsg--sidebar-4 .logo__image {
    max-width: 100%;
}


/* Search */
.rsg--sidebar-4 .rsg--search-64 {
    padding: 0 16px 16px 16px;
}
.rsg--sidebar-4 .rsg--input-65 {
    border: none;
    border-radius: 2px;
}


/* Body */
#app #introduction {
    display: none;
}
#app .rsg--blockquote-37 {
    font-size: 24px;
    margin: 16px 0 24px 0;
}

/* Headings */
#app h1 {
    font-size: 48px;
}
#app h2 {
    font-size: 32px;
    margin-bottom: 16px;
}
#app .rsg--heading-11 {
    font-weight: 300;
}


#app .rsg--content-3 {
    padding: 60px 32px;
}

#app .rsg--preview-59 {
    padding: 0;
}

#app table thead {
    border-style: none;
}
#app table a {
    display: block;
}
#app table img {
    max-width: 100%;
    vertical-align: middle;
}
#app table td {
    text-align: center;
}
