{
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": ["last 2 versions", "ie >= 10"]
                },
                "forceAllTransforms": true
            }
        ]
    ],

    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ],

    "env": {
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs"
            ]
        }
    }
}
